@font-face {
	font-family: 'Josefin Slab';
	font-style: normal;
	font-weight: 400;
	src:url(../fonts/46aYWdgz-1oFX11flmyEfegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'),
		url(../fonts/46aYWdgz-1oFX11flmyEfXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
	font-family: 'Josefin Slab';
	font-style: normal;
	font-weight: 700;
	src:url(../fonts/NbE6ykYuM2IyEwxQxOIi2HNuWYKPzoeKl5tYj8yhly0.woff2) format('woff2'),
		url(../fonts/NbE6ykYuM2IyEwxQxOIi2Hl4twXkwp3_u9ZoePkT564.woff) format('woff');
}
@font-face{
	font-family: 'Raphaelicons';
	src:url(../fonts/raphaelicons-webfont.eot) format('eot'),
		url(../fonts/raphaelicons-webfont.ttf) format('truetype'),
		url(../fonts/raphaelicons-webfont.woff) format('woff'),
		url(../fonts/raphaelicons-webfont.svg) format('svg');
}